/*
  ===================================
    MIXIN FUNCTIONS FOR SCSS FILE
  ===================================
*/

@mixin animate($attr, $time) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}
