/*
  ==========================
        VARIABLE PAGE
  ==========================
*/

  $darker: #212322;
  $dark: #394240;
  $white: #F4F4F4;
  $orange: #ee6825;
  $blue: #45a9b7;
  $header_height: 72px;
